<%= form_for(@photo, :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :caption %><br />
    <%= f.text_field :caption %>
  </div>
  <div class="field">
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </div>
	<div class="field">
    <%= f.label :cover_image %><br />
    <%= f.file_field :cover_image %>
  </div>

	<% unless @photo.new_record? %>
	 	<div>
			<%= image_tag @photo.cover_image.thumb('x100').url %>
		</div>
	<% end %>

	<div class="button confirm_button">
  	<%= f.submit %>
	</div>
<% end %>
