<div class="top_right_controls">
	<%= link_to 'View page', host_page_path(@page), :class => 'btn' %>
</div>

<div class="page_header">
	<h1><%= @page.name %></h1>
</div>

<section>
	<h2><a href="#" data-toggle="collapse" data-target="#page_info_form">Page information</a></h2>

	<div id="page_info_form" class="collapse">
		<%= nested_form_for @page, :url => page_path(@group, @page) do |f| %>
			<%= hidden_field_tag :page_type, @page.page_type %>
			<%= f.hidden_field :group_id %>
			<%= render "cms/pages/form/#{@page.page_type}", :f => f %>
		
			<div class='field'>
			  <%= f.submit 'Save page information', :class => 'btn btn-success' %>
			</div>
		<% end %>
	</div>
</section>

<section>
	<h2><a href="#" data-toggle="collapse" data-target="#background_images_form">Background Images</a></h2>

	<div id="background_images_form" class="collapse">
		<%= form_for @page, :url => page_path(@group, @page) do |f| %>
			<%= hidden_field_tag :page_type, @page.page_type %>
			<%= f.hidden_field :group_id %>
	
			<!-- Background Images -->
			<div class="field" id="background_images">
			  <% Photo.background_images.each do |photo| %>
			    <div>
						<div>
				    	<%= check_box_tag "#{@page.page_type}[photo_ids][]", photo.id, @page.photos.include?(photo) %>
						</div>
						<%= image_tag photo.cover_image.thumb('200x').url %>
			    </div>
			  <% end %>
			</div>
	
			<div class='field'>
			  <%= f.submit  'Save background images', :class => 'btn btn-success' %>
			</div>
		<% end %>
	</div>
</section>

<section>
	<h2>Page content</h2>
	<% unless @page.new_record? %>
		<%= render_page_template(@page, 'edit') %>	
	<% end %>
</section>