<div>

	<button class="btn" data-toggle="collapse" data-target="#add_widget_links_<%= panel.id %>">
	  Edit
	</button>

	<div id="add_widget_links_<%= panel.id %>" class="collapse in add_widget_links">
		<%= link_to 'Text', new_page_widget_path(@group, @page, :widget_type => 'content_widget', :panel => panel), :class => 'btn add_widget_button' %>
		<%= link_to 'Map', new_page_widget_path(@group, @page, :widget_type => 'map_widget'), :class => 'btn add_widget_button', :panel => panel %>
		<%= link_to 'Form', new_page_widget_path(@group, @page, :widget_type => 'form_widget'), :class => 'btn add_widget_button', :panel => panel %>
		<%= link_to 'Photos', new_page_widget_path(@group, @page, :widget_type => 'gallery_widget', :panel => panel), :class => 'btn add_widget_button' %>
		<%= link_to 'Upcoming Events', new_page_widget_path(@group, @page, :widget_type => 'events_widget', :panel => panel), :class => 'btn add_widget_button' %>
		
		<% unless panel.sub_panel? %>
		
			<%= form_tag '/cms/pages/split_panel' do %>
				<%= hidden_field_tag 'region', region.slug %>					
				<%= hidden_field_tag 'panel', panel.id %>
				<%= hidden_field_tag 'id', params[:id] %>
				<%= text_field_tag 'columns' %>
				<%= submit_tag 'Split into columns' %>
			<% end %>

		<% end %>
		
	</div>

	
</div>