<div class="modal hide fade in" id="add_widget_modal_<%= column.id %>" style="display: none;">
  <div class="modal-header">
      <a class="close" data-dismiss="modal" href="#">×</a>
      <h3>Choose content type</h3>
  </div>
  <div class="modal-body">
		<div id="add_widget_links_<%= column.id %>" class="collapse in add_widget_links">
			<%= link_to 'Text', new_page_widget_path(@group, @page, :widget_type => 'content_widget', :column => column), :class => 'btn add_widget_button' %>
			<%= link_to 'Map', new_page_widget_path(@group, @page, :widget_type => 'map_widget', :column => column), :class => 'btn add_widget_button' %>
			<%= link_to 'Form', new_page_widget_path(@group, @page, :widget_type => 'form_widget', :column => column), :class => 'btn add_widget_button' %>
			<%= link_to 'Photos', new_page_widget_path(@group, @page, :widget_type => 'gallery_widget', :column => column), :class => 'btn add_widget_button' %>
			<%= link_to 'Upcoming Events', new_page_widget_path(@group, @page, :widget_type => 'events_widget', :column => column), :class => 'btn add_widget_button' %>
		</div>
  </div>
  <div class="modal-footer">
			<a class="btn" data-dismiss="modal">Close</a>
  </div>	
</div>
