<div class="<%= @page.template %>" id="edit_content_page">	
	<% @page.regions.each do |region| %>
		<div class="region" id="<%= region.slug %>">
			
			<% region.panels.each do |panel| %>

				<div class="row">
					<div class="panel span<%= panel.span %>" id="<%= panel.id %>">
					
						<% if !panel.panels.empty? %>
						
							<div class="row">
								<% panel.panels.each do |sub_panel| %>
									<div class="sub_panel span<%= sub_panel.span %>" id="<%= sub_panel.id %>">
										<% sub_panel.widgets.each do |widget| %>
											<%= render "cms/widgets/show/#{widget.widget_type}", :widget => widget %>
										<% end %>
										<%= render "cms/pages/edit/add_widget_links", :panel => sub_panel, :region => region %>																				
									</div>
								<% end %>	
							</div>
								
						<% else %>
					
							<% panel.widgets.each do |widget| %>
								<%= render "cms/widgets/show/#{widget.widget_type}", :widget => widget %>
							<% end %>
							<%= render "cms/pages/edit/add_widget_links", :panel => panel, :region => region %>												
					
						
						<% end %>
						<%#= link_to 'Remove panel', '#', :class => 'remove_panel_button' -%>

					</div>
				</div>
				
			<% end %>
			
			<%#= form_tag '/cms/pages/add_panel', :remote => true do %>
			<%= form_tag '/cms/pages/add_panel' do %>
				<%= hidden_field_tag 'region', region.slug %>
				<%= hidden_field_tag 'id', params[:id] %>
				<%= submit_tag 'Add Panel' %>
			<% end %>
			
			<%#= link_to 'Add panel', '#', :class => 'add_panel_button' -%>
		</div>
	<% end %>
	
</div>


<!-- <div>
	<%#= link_to 'Save layout', '#', :id => 'save_layout_link' %>
</div> -->

<!-- 
<%#= javascript_tag do %>
	$('a#save_layout_link').click(function(){
		
		$.ajax({
	   	 type: 'post', 
	     data: {
				 'page_id': '<%#= params[:id] %>',
			   'page': page_data()
				},
	     dataType: 'script', 
	     url: '/cms/pages/layout'
		});
		return false;
	});
	
	function page_data() {
		page = {}
		page['regions'] = get_regions();
		return page;
	}
	
	function get_regions() {
		var regions = []
		$('div.region').each(function(index) {
			var region = {}
			region['name'] = $(this).attr('id');			
			region['panels'] = get_panels($(this));
			regions[index] = region;
		})
		return regions;
	}
	
	function get_panels(region) {
		var panels = []
		region.children('div.panel').each(function() {
			var panel = {}
			panel['name'] = $(this).attr('id');
			panel['widget_ids'] = get_widget_ids($(this));
			panels.push(panel);
		})
		return panels;
	}
	
	function get_widget_ids(panel) {
		var widget_ids = []
		panel.children('div.widget').each(function() {
			widget_ids.push($(this).attr('id'));
		})
		return widget_ids;
	}
	
	$('.add_panel_button').click(function() {
		var region = $(this).parent('.region')
		var new_panel_id = region.children('div.panel').length + 1;
		var new_panel = $('div.hide .panel').attr('id', 'panel' + new_panel_id).parent().html();
		region.append(new_panel);
		$('div.hide .panel').removeAttr('id')		
		$('#panel' + new_panel_id + ' #add_widget_links a').each(function() {
			var current_link = $(this).attr('href');
			$(this).attr('href', current_link + '&region=' + region.attr('id') + '&panel=panel' + new_panel_id);
		})	
		return false;
	})
	
	$('.remove_panel_button').click(function() {
		$(this).parent('div.panel').remove();
		return false;
	})	
	
<%# end %> -->