<%= content_for :head do %>
	<%= javascript_include_tag 'slimbox2' %>
	<%= stylesheet_link_tag 'slimbox2' %>
<% end %>

<div class="photo_widget widget">

	<div class="gallery_item">
		<% if widget.display_in_lightbox == true %>
			<%= link_to (image_tag widget.photo.cover_image.thumb("#{widget.image_width}").url), widget.photo.cover_image.url, :rel => "lightbox-gallery", :title => widget.caption %>
		<% else %>
			<% link_target = widget.link.blank? ? widget.photo.cover_image.url : widget.photo.link %>
			<%= link_to (image_tag widget.photo.cover_image.thumb("#{widget.image_width}").url), link_target, :title => widget.caption %>
		<% end %>
		
		<% if !widget.caption.blank? %>
			<div class="photo_widget_caption">
				<%= widget.caption %>
			</div>
		<% end %>
		
	</div>
	
</div>