<div id="top_nav">
	<%= link_to 'Pages', pages_path %>	
	<%= link_to 'Users', users_path %>
	<%= link_to 'Forms', forms_path %>	
	<%= link_to 'Photos', photos_path %>
	<%= link_to 'Navigation', nav_menus_path %>	
	<%= link_to 'People', people_path %>
	<%= link_to 'Events', events_path %>	
	<%= link_to 'Photos', photos_path %>	
	<% Category.all.each do |category| %>
		<%= link_to category.name, category %>
	<% end %>
</div>	
