<!DOCTYPE html>
<html>
<head>
  <title>Cms</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "cms" %>
  <%= csrf_meta_tags %>
</head>
<body id="admin">
		
	<div id="envelope">
		<div id="background">
			<div id="background_header">
			</div>
			<div id="background_nav">
			</div>
		</div>	
		<!-- Flash message goes here -->
		<% if !flash.blank? %>
	    <div id='flash'>
	      <ul id='flash_list'>
	        <% flash.each do |key, value| %>
	          <li class="flash_item <%= key %>"><%= value %></li>
	        <% end %>
	      </ul>
	    </div>
	  <% end %>
			
		<div id="admin_header">			
			<div id="admin_top_right">
				<div id="user_status">
					<% if current_user %>
						<%= current_user.name %>: <%= link_to "Sign out", signout_path, :id => 'signout_link' %> | 
					<% end %>
					<%= link_to 'View site', '/' %>
				</div>
			
				<% if Group.count > 0 %>
					<div id="group_nav">
						<%= link_to 'Admin home', admin_home_path %>
						<% Group.all.each do |group| %>
							<%= link_to group.name, group_path(group) %>
						<% end %>
					</div>
				<% end %>				
			</div>
	    <h1><%= site_name %><%= " - #{@group.name}" if @group %></h1>
			<%= render 'layouts/cms/top_nav' %>			
		</div> <!-- #admin_header -->
	
    <div id="<%= current_controller %>_<%= request[:action] %>_content" class="content">		
			<%= yield %>
    </div>
	</div>
</body>
</html>
