<div class="top_right_controls">
	<%= link_to "New #{@category.name.singularize}", new_article_path(@group, :category_id => @category.slug), :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1><%= @category.name %></h1>
</div>

<section class="page_content">
	<% @articles.desc(:date).each do |article| %>
		<div class="index_item page_index_item">
			<div class="controls">
				<%= link_to 'Delete', article_path(@group, article), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>				
				<%= link_to 'Edit', edit_article_path(@group, article), :class => 'btn btn-warning' %>							
				<%= link_to 'View', host_article_path(article), :class => 'btn' %>
			</div>
			<%= link_to article.title, edit_article_path(@group, article) %>			
			<div>
				<%= l article.date, :format => :long %>
			</div>
		</div>
	<% end %>
</section>