<h1><%= @category.name %></h1>

<% @articles.desc(:date).each do |article| %>
	<div class="index_item page_index_item">
		<div class="controls">
			<%= link_to 'View', host_article_path(article) %>
			<%= link_to 'Edit', edit_article_path(@group, article) %>			
			<%= link_to 'Delete', article_path(@group, article), :method => :delete, :confirm => 'Are you sure?' %>
		</div>
		<%= link_to article.title, edit_article_path(@group, article) %>			
		<div>
			<%= l article.date, :format => :long %>
		</div>
	</div>
<% end %>

<div class="button new_button">
	<%= link_to "New #{@category.name.singularize}", new_article_path(@group, :category_id => @category.slug) %>
</div>

