<div class="top_right_controls">
	<%= link_to 'New Document', new_document_path(@group), :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1>Documents</h1>
</div>

<section class="page_content">
	<% @documents.each do |document| %>
		<div class="index_item document_index_item" id="document_<%= document.id %>">
			<div class="controls">
				<%= link_to 'Delete', document_path(@group, document), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>				
				<%= link_to 'Edit', edit_document_path(@group, document), :class => 'btn btn-warning' %>
				<%= link_to 'View', document_path(@group, document), :class => 'btn' %>				
			</div>
			<%= link_to document.title, edit_document_path(@group, document) %>
		</div>
	<% end %>
</section>