<div id="<%= @page.template %>" class="<%= background_layout %> template">
	<%= background_image(@page) %>
	<div id="<%= @page.slug %>" class="container <%= request[:controller] %>_<%= request[:action] %>_content">
		<%= render 'layouts/application/flash', :flash => flash %>

		<%= render_page_template(@page, 'show') %>
	</div>
</div>