<div id="<%= panel.name %>" class="panel <%= panel.panel_category %>">
	<% panel.widgets.each do |widget| %>
			<%= render "cms/widgets/show/#{widget.widget_type}", :widget => widget %>
			<div>
				<%= link_to 'Edit', edit_page_widget_path(@group, @page, widget, :panel => panel.id), :class => 'btn btn-warning' if show_editing_tools? %>
			</div>
	<% end %>
	
	<% if show_editing_tools? && !panel.full? %>
		<% if panel.widget_types.size == 1 %>
		
			<% widget_type = panel.widget_types.first %>
			<div>
				<%= link_to "Add #{widget_type.titleize}", new_page_widget_path(@group, @page, :widget_type => "#{widget_type}_widget", :panel => panel), :class => 'btn btn-info' %>
			</div>
		<% else %>
			<div>
				<a data-toggle="modal" href="#add_widget_modal_<%= panel.id %>" class="btn btn-info">Add</a>
				<%= render "cms/pages/edit/add_panel_widget_modal", :panel => panel %>												
			</div>
		<% end %>
	<% end %>
	
</div>