<div class='field'>
   <div>
    <%= f.label :name %>
  </div>
   <div>
    <%= f.text_field :name %>
  </div>
</div>
<div class='field'>
   <div>
    <%= f.label :title_tag %>
  </div>
   <div>
    <%= f.text_field :title %>
  </div>
</div>
<div class='field'>
   <div>
    <%= f.label :on_page_header %>
  </div>
   <div>
    <%= f.text_field :header %>
  </div>
</div>
<div class='field' id="template_items">
	 <div>
    <%= f.label :template %>
  </div>
	<div>
		<%= f.radio_button :template, 'template1' %> Template 1<br />
		<%= f.radio_button :template, 'template1' %> Template 2<br />
		<%= f.radio_button :template, 'template1' %> Template 3<br />
		<%= f.radio_button :template, 'template1' %> Template 4<br />
		<%= f.radio_button :template, 'template1' %> Template 5<br />
		<%= f.radio_button :template, 'template1' %> Template 6<br />
	</div>

	<%# Site::TEMPLATES.in_groups_of(3) do |group| %>
		<!-- <div class="template_row">
					<%# group.compact.each do |template| %>
					   <div class="template_item">
							<%#= f.radio_button :template, template[:name] %> <%#= image_tag "templates/#{template[:name]}.jpg" %>
					  </div>
					<%# end %>
				</div> -->
	<%# end %>
</div>