<div class="top_right_controls">
	<%= link_to 'New Form', new_form_path(@group), :class => 'btn btn-info' %>
</div>

<div class="page_header">
	<h1>Forms</h1>
</div>

<section class="page_content">
	<% @forms.each do |form| %>
		<div class="index_item form_index_item" id="form_<%= form.id %>">
			<div class="controls">
				<%= link_to 'Delete', form_path(@group, form), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>				
				<%= link_to 'Edit', edit_form_path(@group, form), :class => 'btn btn-warning' %>				
				<%= link_to 'View data', form_form_records_path(@group, form), :class => 'btn' %>
			</div>
			<%= link_to form.name, edit_form_path(@group, form) %>
		</div>
	<% end %>
</section>