<%= yield :background_image %>
<div class="container <%= request[:controller] %>_<%= request[:action] %>_content <%= @page.template %>">
	<div id="sidebar">
		<h1>Sidebar to go here!!</h1>
		<% @page.regions.by_name('Sidebar').panels.each_with_index do |panel, index| %>
			<%= render 'cms/pages/show/panel', :panel => "sidebar_panel#{index + 1}", :column => panel %>
		<% end %>
	</div>
	<%= render 'layouts/application/flash', :flash => flash %>
	
	<%= yield %>
</div>