<div class='field'>
   <div>
    <%= f.label :name %>
  </div>
   <div>
    <%= f.text_field :name %>
  </div>
</div>
<div class='field'>
   <div>
    <%= f.label :title %>
  </div>
   <div>
    <%= f.text_field :title %>
  </div>
</div>
<div class='field'>
   <div>
    <%= f.label :template %>
  </div>
   <div>
    <%= f.select :template, options_for_select([['Template 1', 'template1'], ['Template 2', 'template2']], @page.template) %>
  </div>
</div>