<h1><%= @page.name %></h1>
<%= link_to 'View page', host_page_path(@page) %>
<%= nested_form_for @page, :url => page_path(@group, @page) do |f| %>
	<%= hidden_field_tag :page_type, @page.page_type %>
	<%= f.hidden_field :group_id %>
	<div class='field'>
	   <div>
	    <%= f.label :header %>
	  </div>
	   <div>
	    <%= f.text_field :header %>
	  </div>
	</div>
	<%= render "cms/pages/form/#{@page.page_type}", :f => f %>
	
	<!-- Background Images -->
	<div class="field" id="background_images">
	  <% Photo.background_images.each do |photo| %>
	    <div>
				<div>
		    	<%= check_box_tag "#{@page.page_type}[photo_ids][]", photo.id, @page.photos.include?(photo) %>
				</div>
				<%= image_tag photo.cover_image.thumb('200x').url %>
	    </div>
	  <% end %>
	</div>
	
	<div class='field'>
	  <%= f.submit 'Save' %>
	</div>
<% end %>

<% unless @page.new_record? %>
	<%= render_page_template(@page, 'edit') %>	
<% end %>